{% extends "base.html" %}
{% load static %}

{% block title %}
Add image
{% endblock  %}


{% block link %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/add_img.css' %}">

{% endblock  %}

{% block body %}


<div class="container mt-5 mb-5">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6 mt-5">
            <div class="card">
                <div class="card-header text-center">
                    <h2>Upload Image</h2>
                </div>
                <div class="card-body">

                    <form  method="post" enctype="multipart/form-data">
                        
                        {% csrf_token %}

                        <div class="form-group">
                            <label for="img">Upload Profile Picture</label>
                            <input type="file" class="form-control-file" id="img" name="img" accept="image/*" required>
                        </div>
                        
                        <div class="mb-3">
                            <label for="simpleSelect" class="form-label">Image category type:</label>

                            <select class="form-select" id="simpleSelect" name="category">
                              <option selected disabled>Category</option>
                              <option value="Nature">Nature</option>
                              <option value="Family">Family</option>
                              <option value="Car">Car</option>
                              <option value="Coding">Coding</option>
                              <option value="Aesthetic">Aesthetic</option>
                              <option value="Buildings">Buildings</option>
                            </select>
                            
                        </div>

                        <button  type="submit" class="btn btn-primary btn-block">Save</button>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock  %}