
body {
  padding-top: 56px;
}
.gallery-item {
  margin-bottom: 30px;
}
.gallery-item img {
  width: 100%;
  height: auto;
  display: block;
}
.gallery-item-title {
  text-align: center;
  margin-top: 10px;
  font-size: 18px;
}

.footer
{
  position: fixed;
  bottom: 23px;
}