
body {
    padding-top: 56px;
    background-color: black;
  }
  .gallery-item {
    margin-bottom: 20px;
  }
  .gallery-item img {
    width: 100%;
    height: auto;
    display: block;
  }
  .gallery-item-title {
    text-align: center;
    margin-top: 10px;
    font-size: 18px;
  }
  .background
  {
  

      background-repeat: no-repeat;
      background-size: cover;
      height: 100vh;
  }
 


  .gallery-item {
    position: relative;
}

.dropdown {
    position: absolute;
    top: 10px;
    right: 10px;
}

.dropdown-menu {
    z-index: 1000; /* Ensure dropdown menu appears above other elements */
}


.link{
  text-decoration: none;
}


.folder:hover
{
  transform: translateY(-10px);
}

.height
{
  min-height: 200px;

}