
body {
  padding-top: 56px;
}
.gallery-item {
  margin-bottom: 30px;
}
.gallery-item img {
  width: 100%;
  height: auto;
  display: block;
}
.gallery-item-title {
  text-align: center;
  margin-top: 10px;
  font-size: 18px;
}
.background
{

    background-image: url("/static/img/background.avif");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.button
{
  
  transform: translate(50x , 50y);
  left: 50%;
  margin-top: 18%;

}